body,html{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.534);
}
.photoframe{
    width: 70%;
    height: 90%;
    margin: auto;
    padding: 1rem;
}
.frame{
    width: 100%;
    height: 80%;
    transform-style: preserve-3d;
}

.frame div{
    transition: all 1s ease-out;
    position: absolute;
    top: 35%;
    left: 35%;
    width: 30%;
    height: 20%;
    /* background: url('./my_collections/17256.png'); */
}


@media screen and (min-width:960px) {

    .frame div{
        width: 300px !important;
        height: 200px !important;
        left: 36% !important;
        border-radius: 10px;
        
    }
    .frame div.frame1{
    transform:perspective(500px) translateZ(200px) translateX(0px);
    background: url('https://img.freepik.com/free-photo/online-fashion-shopping-with-laptop_23-2150400630.jpg?w=996&t=st=1701933011~exp=1701933611~hmac=bfc20b95f84947f37c34f7858ae0934953c4806273dd96cfd0d7cdf51dcc73c9') no-repeat center center/cover;
}
.frame div.frame2{
    transform:perspective(500px) translateZ(120px) translateX(-200px);
    background-color: rgb(58, 121, 176);
    background: url('https://img.freepik.com/premium-photo/online-shopping-delivery-concept-product-package-boxes-cart-laptop_38716-162.jpg?w=900') no-repeat center center/cover;
}
.frame div.frame3{
    transform:perspective(500px) translateZ(0px) translateX(-420px);
    background-color: rgb(72, 203, 39);
    background: url('https://img.freepik.com/free-photo/discount-shopping-season-with-sale_23-2150165932.jpg?w=900&t=st=1701933158~exp=1701933758~hmac=bdd4566033882c42d937a2cc16a0d88e2439ebf204c0ecb5dc2ae28ec78f56b6') no-repeat center center/cover;
}
.frame div.frame4{
    transform:perspective(500px) translateZ(-120px) translateX(-200px);
    background-color: rgb(203, 212, 70);
    background: url('https://img.freepik.com/free-photo/box-market-electronic-ordering-shop-basket_1421-567.jpg?w=900&t=st=1701933181~exp=1701933781~hmac=eddd29e9d611681e2a3e0656df8879439413276c62153c98413b220c2ecf82ef') no-repeat center center/cover;
}
.frame div.frame5{
    transform:perspective(500px) translateZ(-200px);
    background-color: #ff6036;
    background: url('https://img.freepik.com/free-photo/full-shot-woman-online-fashion-shopping_23-2150460083.jpg?w=900&t=st=1701933368~exp=1701933968~hmac=d01287fb904a74781b5e18cd8aaecf11fe044b2dc2567c0b2e7f6c6c29302abb') no-repeat center center/cover;
}
.frame div.frame6{
    transform:perspective(500px) translateZ(-120px) translateX(200px);
    background-color: rgb(70, 212, 141);
    background: url('https://img.freepik.com/free-photo/technology-app-development-wireless-e-commerce_53876-120300.jpg?w=900&t=st=1701933203~exp=1701933803~hmac=ef8670f185fbab419107803563b74a28c683993519f92044323b0d8080483f39') no-repeat center center/cover;
}
.frame div.frame7{
    transform:perspective(500px) translateZ(0px) translateX(420px);
    background-color: rgb(98, 173, 214);
    background: url('https://img.freepik.com/free-photo/data-analysis-summary-graph-arrow-up_53876-133586.jpg?w=900&t=st=1701933261~exp=1701933861~hmac=6519c15f26b09b569c1a9f87c03fa5af7e692724fbdce598f60129260e1f5d93') no-repeat center center/cover;
}
.frame div.frame8{
    transform:perspective(500px) translateZ(120px) translateX(200px);
    background-color: rgb(58, 121, 176);
    background: url('https://img.freepik.com/free-photo/cyber-monday-shopping-sales_23-2148688502.jpg?w=900&t=st=1701933313~exp=1701933913~hmac=2b841020007946030cbb4b6acebab727fe38ba72989a8a7629c6050530eda4ef') no-repeat center center/cover;
}
.photoframe div.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.photoframe div.buttons input{
    width: 50%;
    height: 5vh;
    border-radius: 12px;
    margin-inline: 1rem;
    cursor: pointer;
    transition: all 1s;
    font-size: 20px;
    outline: none;
    border: none;
}
.photoframe div.buttons input:hover{
   background-color: aqua;
}

}
